@model ProInterface.Models.TTaskFlow
@{
    ViewBag.Title = "HandleNode";
}
<style type="text/css">
    #tt .tabs li {
        margin: 0px 0px 0 2px;
    }

        #tt .tabs li a.tabs-inner {
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
</style>
<div id="tt" style="overflow: inherit; height: 100%">
    <div title="@this.Model.NAME">
        <iframe id="ifr_handle" scrolling="auto" frameborder="0" style="height: 99%; width: 100%;"></iframe>
    </div>
    <div title="日志记录" data-options="closable:false" style="overflow: inherit; height: 100%">
        <iframe id="ifr_log" scrolling="auto" frameborder="0" style="height: 99%; width: 100%;"></iframe>
    </div>
    <div title="审核流程图" data-options="closable:false" style="overflow: inherit; height: 100%">
        <iframe id="ifr_flow" scrolling="auto" frameborder="0" style="height: 99%; width: 100%;"></iframe>
    </div>
</div>
<script type="text/javascript">
    function CloseWin() {
        parent.CloseWin();
    }

    $(function () {
        $('#tt').tabs({
            border: true,
            fit: true,
            plain: true,
            onSelect: function (title, index)
            {
                switch (index)
                {
                    @*case 0:
                        $("#ifr_handle").attr("src", "@MvcHtmlString.Create(Url.Content(Model.HANDLE_URL))");
                        break;
                    case 1:
                        $("#ifr_purchase").attr("src", "../Purchase/PublicSingle?id=@this.Model.TASK_ID");
                        break;
                    case 2:
                        $("#ifr_log").attr("src", "Find?id=@this.Model.TASK_ID");
                        break;*@
                    case 3:
                        $("#ifr_flow").attr("src", "LookFlow?id=@this.Model.TASK_ID");
                            break;
                }
            }
        });
        $("#ifr_handle").attr("src", "@MvcHtmlString.Create(Url.Content(Model.HANDLE_URL))");
        $("#ifr_log").attr("src", "Find?id=@this.Model.TASK_ID");
        $("#ifr_flow").attr("src", "LookFlow?id=@this.Model.TASK_ID");
    })

</script>
