<ion-header>
  <ion-toolbar color="car">
    <ion-buttons left>
      <button ion-button icon-only (click)="GoBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>客户信息</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="ShowMenu()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider color="light">
      个人信息
    </ion-item-divider>
    <ion-item>
      <ion-thumbnail item-right>
        <img *ngIf="bean.iconURL!=null" src="{{bean.iconURL|ImgUrl}}" (click)="showBigImage(bean.iconURL)" />
      </ion-thumbnail>
      <h2>客户编号：{{bean.ID}}</h2>
      <p>客户姓名：{{bean.NAME}}</p>
      <p>性别：{{bean.SEX}}</p>
    </ion-item>
    <ion-item>
      <ion-label>联系电话</ion-label>
      <p item-right>{{bean.phone}}</p>
    </ion-item>
    <ion-item>
      <ion-label>客户状态</ion-label>
      <p item-right>{{bean.STATUS}}</p>
    </ion-item>
    <ion-item>
      <ion-label>客户地址</ion-label>
      <p item-right>{{bean.ADDRESS}}</p>
    </ion-item>
    <ion-item>
      <ion-label>备注</ion-label>
      <p item-right>{{bean.REMARK}}</p>
    </ion-item>
  </ion-item-group>
  <ion-item-group>
    <ion-item-divider color="light">
      客户证件
    </ion-item-divider>
    <ion-item>
      <ion-row>
        <ion-col *ngIf="bean.idNoUrl!=null">
          <img src="{{bean.idNoUrl|ImgUrl}}" height="70px" width="70px" alt="客户证件正面" style="margin: 10px" on-tap="showBigImage(bean.idNoUrl)"
          />
          <p>
            客户证件正面
          </p>
        </ion-col>
        <ion-col *ngIf="bean.idNoUrl1!=null">
          <img src="{{bean.idNoUrl1|ImgUrl}}" height="70px" width="70px" alt="客户证件背面" style="margin: 10px" on-tap="showBigImage(bean.idNoUrl1)"
          />
          <p>
            客户证件正面
          </p>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-item-group>
  <ion-card *ngFor="let o of bean.AllCar">
    <ion-item-divider>
      {{o.PLATE_NUMBER}}
    </ion-item-divider>
    <ion-row>
      <ion-col *ngIf="o.DrivingPicUrl!=null">
        <img src="{{o.DrivingPicUrl|ImgUrl}}" height="70px" width="70px" alt="车辆行驶证正页" style="margin: 10px" on-tap="showBigImage(o.DrivingPicUrl)"
        />
        <p>
          车辆行驶证正页
        </p>
      </ion-col>
      <ion-col *ngIf="o.DrivingPicUrl1!=null">
        <img src="{{o.DrivingPicUrl1|ImgUrl}}" height="70px" width="70px" alt="车辆行驶证副页" style="margin: 10px" on-tap="showBigImage(o.DrivingPicUrl1)"
        />
        <p>
          车辆行驶证副页
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>