help-info {
  ion-card-content{
    background-color:white
  }
  ion-card{
    padding: 10px;
  }
  ion-card img {
    display: block;
    width: auto;
}
  ion-label{
    color: black;
  }
  ion-item {
    p {
      color: red;
    }
  }
}
