order-list {
  ion-col{
    padding: 1px;
  }

  .titleAddressStr{
    padding-left: 10px;
    font-size: 18px;
    color: #ef473a;
    margin: auto;
  }
  .buttomGroup{
    background-color: white;
  }

}
