<html ng-app="ionicApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>云乐享车</title>
    <link href="~/Scripts/ionic/css/ionic.css" rel="stylesheet">
    <link href="~/Scripts/ionic/iconfont/iconfont.css" rel="stylesheet">
    <script src="~/Scripts/ionic/js/ionic.bundle.min.js"></script>
    <script src="~/Scripts/jquery-2.2.0.min.js"></script>
</head>
<body  ng-controller="myCtrl">
    @RenderBody()
</body>
@RenderSection("HeadScripts", required: false)
</html>
