<!DOCTYPE html>  
<html style="height:100%;width:100%">  
<head>  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">   
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>@ViewBag.Title</title>  

    <script type="text/javascript" src="~/Scripts/jquery-1.8.1.min.js"></script>

    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/easyui/themes/icon.css">
<script type="text/javascript" src="~/Scripts_Page/FunBase.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/easyui/easyui-lang-zh_CN.js"></script>
    <script type="text/javascript" src="~/Scripts/json2.js"></script>
    <script type="text/javascript" src="~/Scripts/boot.js"></script>

    <link href="~/Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/bootstrap/mybootcss.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/Settitlewidth.js"></script>
    @RenderSection("HeadScripts", required: false)
</head>  
<body  style="margin:0;padding:0;border:0;height:100%;width:100% "> 
    <div id="init_ManDiv" style="display:none; height:100%;width:100%">
    @RenderBody() 
    </div>
</body>  
    @RenderSection("scripts", required: false)
</html>  
 