@{
    Layout = null;
}

<!DOCTYPE html>

<html style="height:100%;">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LookLog</title>
</head>
<body style="height:100%;margin:0">
        @Html.TextArea("log", new {@style="height:100%;width:100%" })
</body>
</html>
