<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DBEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=139.129.194.140:1520/orcl;PASSWORD=YL;PERSIST SECURITY INFO=True;USER ID=C##YL&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="DBEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1:1521/ORCL;PASSWORD=YL;USER ID=C##YL&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DBEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=127.0.0.1:1520/ORCL;PASSWORD=YL;USER ID=C##YL&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v12.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Support" value="四川云乐享车科技有限公司" />
    <add key="DefaultPwd" value="123456" />
    <!--允许重复登录-->
    <add key="RepeatUser" value="true" />
    <!--允许写登录日志-->
    <add key="WiteLoginLog" value="true" />
    <!--关闭浏览器超时时间-->
    <add key="TimeOut" value="10080" />
    <!--使用验证码-->
    <add key="VerifyCode" value="false" />
    <!--使用短信验证码-->
    <add key="VerifyCodeSms" value="false" />
    <!--密码复杂度，最大值为4-->
    <add key="PwdComplexity" value="1" />

    <!--默认地市ID-->

    <add key="SysName" value="云乐享车支撑系统" />
    <add key="CityId" value="510000" />
    <add key="RegionName" value="省" />
    <add key="ThorpeName" value="市" />
    <add key="Miitbeian" value="蜀ICP备16030708号-1" />

    <!--码表参数-->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />



    <!-- URL对接信息 -->
    <add key="WeixinToken" value="yunlexiangche" />
    <add key="WeixinEncodingAESKey" value="mZZWqxBbm1sTr7syL7dadUBpCb5Nd3kbtvmSTIDsHyV" />
    <!-- 高级接口信息 -->
    <add key="WeixinAppId" value="wx3b8877cd39306fe6" />
    <add key="WeixinAppSecret" value="5fb52d19e283ebf345eda772cafe8cd0" />
    <!-- SDK提供的代理功能设置 -->
    <add key="WeixinAgentUrl" value="外部代理Url" />
    <add key="WeixinAgentToken" value="外部代理Token" />
    <add key="WeixinAgentWeiweihiKey" value="外部代理WeiWeiHiKey" />
    <!-- 微信支付相关参数 -->
    <!-- 微信支付V2 -->
    <add key="WeixinPay_Tenpay" value="WeixinPay_Tenpay" />
    <add key="WeixinPay_PartnerId" value="WeixinPay_PartnerId" />
    <add key="WeixinPay_Key" value="WeixinPay_Key" />
    <add key="WeixinPay_AppId" value="wxdca346c6a0f9a379" />
    <add key="WeixinPay_AppKey" value="WeixinPay_AppKey" />
    <add key="WeixinPay_TenpayNotify" value="WeixinPay_TenpayNotify" />
    <!-- 微信支付V3 -->
    <add key="TenPayV3_MchId" value="1354799602" />
    <add key="TenPayV3_Key" value="F4ABB7CB0FCE4F408AFD84D338CBC490" />
    <add key="TenPayV3_AppId" value="wxdca346c6a0f9a379" />
    <add key="TenPayV3_AppSecret" value="93f5881f79a67b745ecb50d8fc115b00" />
    <add key="TenPayV3_TenpayNotify" value="http://www.962585.com.cn/TenPayV3/PayNotifyUrl" />
    <!-- 开放平台 -->
    <add key="Component_Appid" value="Component_Appid" />
    <add key="Component_Secret" value="Component_Secret" />
    <add key="Component_Token" value="Component_Token" />
    <add key="Component_EncodingAESKey" value="Component_EncodingAESKey" />


  </appSettings>
</configuration>