<ion-view view-title="会员登录" hide-back-button="true">
    <!--<ion-nav-buttons side="right">-->
         <!--<button class="button button-icon icon ion-loop light" ng-click="login.reLoadJS()"></button>-->
     <!--</ion-nav-buttons>-->
    <ion-content class="has-header login">
        <FORM NAME="loginForm">
            <div class="list" style="margin-top: 30px">
                <div class="item item-icon-left" style="padding-left: 55px;">
                    <i class="icon iconfont" style="font-size: 25px;">&#xe60b;</i>
                    <input type="text" required="required" name="loginName" ng-model="login.bean.loginName"
                           placeholder="手机号码/用户名">
                </div>
                <div class="item item-icon-left" style="padding-left: 55px;">
                    <i class="icon iconfont" style="font-size: 25px;">&#xe645;</i>
                    <input type="password" required="required" name="password" ng-model="login.bean.password"
                           placeholder="密码">
                </div>
                <ion-toggle style="height: 50px"
                            ng-model="login.rememberPwd"
                            ng-checked="login.rememberPwd">
                    记住密码
                </ion-toggle>
                <div class="button-div">
                    <button type="submit" class="button button-energized carIn-button" on-tap="login.submit($event)">
                        登录
                    </button>
                    <span class="login-repass button button-clear" ui-sref="findPwd"
                          style="font-size: 14px;color: #000000">找回密码</span>
                    <button class="login-register button button-clear" ui-sref="register"
                            style="font-size: 14px;color: #000000">立即注册
                    </button>
                </div>
            </div>
            </div>
            </div>
        </FORM>
    </ion-content>
</ion-view>
