customer-list {
    ion-thumbnail img{
        min-width: 80px;
        min-height: 80px;
        border-radius:10px
    }
    .ion-forward{
        font-size: 20px;
    }
    .item-md{
            padding-left: 10px;
    }
}
