<ion-view view-title="投保" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-ios-arrow-back light" ng-click="$ionicGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <div class="list" style="margin-top: 10px;margin-bottom: 10px;">
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">起始日期</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.MODEL}}</span>

            </label>
          </div>
        <div class="list" style="margin-top: 0px;margin-bottom: 10px;">
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">本年过户车</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.PRICE}}</span>
            </label>


            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">车主姓名</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.BRAND}}</span>

            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">身份证号</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.FRAME_NUMBER}}</span>

            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">车主联系电话</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.ENGINE_NUMBER}}</span>

            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">被保人信息</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.REG_DATA}}</span>

            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">申请人信息</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.TRANSFER_DATA}}</span>

            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">配送信息</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.TRANSFER_DATA}}</span>

            </label>
        </div>
        <div class="list" style="margin-top: 10px;margin-bottom: 0px">
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">行驶证照片</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.PRICE}}</span>
            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">驾驶证照片</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.PRICE}}</span>
            </label>
            <label class="item item-input" style="padding-left: 20px;line-height: 1">
                <span class="input-label" style="width:20%;font-weight:bold">身份证照片</span>

                <span class="input-label" style="color: #bbbbbb">{{carInfo.bean.PRICE}}</span>
            </label>
            </div>
        <div class="button-div" style=" margin-top: 10px;">
            <button class="button button-energized carIn-button" on-tap="searchCar.submit($event)">
               确定
            </button>
       </div>
    </ion-content>
</ion-view>