<script src="~/Scripts/easyui/jquery.easyui.min.js"></script>
<link href="~/Scripts/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts_Page/FunBase.js"></script>
<style type="text/css">
    td {
        width: 25%;
        color: #666;
        text-align: center;
        ruby-align: center;
    }
</style>
@{if (ViewData["allReList"] != null && (ViewData["allReList"] as IList<ProInterface.Models.TUserMessage>).Count != 0)
  { 
    <table class="table table-striped table-bordered">
        <tr>
            <td>编号</td>
            <td>内容</td>
            <td>时间</td>
            <td>操作</td>
        </tr>
        @foreach (var item in (ViewData["allReList"] as IList<ProInterface.Models.TUserMessage>).ToList())
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.CONTENT</td>
                <td>@item.CREATE_TIME</td>
                <td><em class="del" style="cursor: pointer;color:orange">点击标记已阅读</em></td>
            </tr>
        }

    </table>

  }
  else
  {
    <script type="text/javascript">
        divalert("提示", "当前没有消息")
    </script>
  }
}
<script type="text/javascript">
    var del = document.getElementsByClassName("del");
    for (var i = 0; i < del.length; i++) {
        del.item(i).onclick = function (event) {
            var messageid = $(this).parent().parent().children(":first").text();
            var posturl = "../User/UserMessageSetFinish";
            $.ajax({
                url: posturl,
                type: 'POST',
                data: "messageid=" + messageid,
                success: function (data) {
                    if (data) {
                        $.messager.alert("提示", "标记成功", "info", function (r) {
                            bj();
                        });
                    }
                    else {
                        $.messager.alert("提示", "标记失败");
                    }
                }
            });
        }
    }
    function bj() {
        setTimeout(function () {
            window.location.href = "../User/UserMessageGetNew";
        }, 2000);
    }
</script>
