runlist-list {
  ion-col{
    padding: 1px;
  }

  .titleAddressStr{
    padding-left: 10px;
    font-size: 18px;
    color: #ef473a;
    margin: auto;
  }
  span{
    font-size: 12px;
    padding-left: 10px
  }
}
