user-meuu {

  .onleIco{
    line-height: 35px;
    border-radius: 6px;
    background-color: #74DD43;
    color: white;
    font-size: 24px;
  }
  .label{
    margin:  0px;
    font-size: 14px;
  }
  .button{
    margin:  0px;
  }
  .user-head {
    min-height: 160px;
    min-width: 100%;
    background-image: url(../assets/img/userbg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
  };
  .userIco{
    margin-top: 15px;
    width: 70px;
    height: 70px;
    border-radius:35px
  }
  .itemSplit{
    margin-top:10px;
  }
  .menu {
    font-size: 12px;
    margin: 10px 0px;
    ion-icon {
      width: 30px;
      height: 30px;
      margin: 0px 10px 0px 20px;
      text-align: center;
      vertical-align: middle;
    }
  }
  .settingIco{
    font-size: 25px;
    color: white;
    position:  fixed;
    top: 60px;
    right: 10px;
  }
  


}
