@import "../../../theme/variables.scss";

listgrab-list {

  .titleAddressStr{
    padding-left: 10px;
    font-size: 18px;
    color: #ef473a;
    margin: auto;
  }
  span{
    font-size: 12px;
    padding-left: 10px
  }
}
